@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

:root {
  /* Background */
  --color-bg-dark: #101827;
  --color-header-bg: #1E293B;
  --color-surface-dark: #1A202E;
  --color-elevation-1: #1F2A3C;
  --color-elevation-2: #2A3648;

  /* Buttons */
  --color-btn-bg-dark: #1C2433;
  --color-btn-hover-dark: #293042;
  --color-btn-active-dark: #364153;

  /* Text */
  --color-text-primary: #E5E7EB;
  --color-text-secondary: #9CA3AF;
  --color-text-disabled: #6B7280;

  /* States */
  --color-positive: #10B981;
  --color-negative: #EF4444;
  --color-neutral: #6B7280;
  --color-highlight: #3B82F6;

  /* Border + Shadow */
  --color-border: #2F3A4B;
  --color-scrollbar: #374151;
  --color-shadow: rgba(0, 0, 0, 0.3);
}