registry=https://registry.npmjs.org/
@next:registry=https://registry.npmjs.org/
@tailwindcss:registry=https://registry.npmjs.org/
@img:registry=https://registry.npmjs.org/
@emnapi:registry=https://registry.npmjs.org/
@napi-rs:registry=https://registry.npmjs.org/
@tybys:registry=https://registry.npmjs.org/
@unrs:registry=https://registry.npmjs.org/
